In [2]:
import pandas as pd

df = pd.read_csv(r"D:\Python Course\Sentiment Analysis on Twitter Project\data\raw\1.6M-Tweets.csv", 
                 encoding='utf-8', encoding_errors='ignore', names=["target", "id", "date", "flag", "user", "text"])

Handle Text Col

In [3]:
# Convert to lowercase

df["text"] = df["text"].str.lower()

In [4]:
# Remove URL + Mention + Hashtag

df["text"] = (df["text"].str.replace(r'https?://\S+|www\.\S+', '', regex=True)
              .str.replace(r'@\w+', '', regex=True)
              .str.replace(r'#\w+','', regex=True)
              .str.strip())

In [5]:
# Remove punctuation & special words + whitespace

df["text"] = (df["text"].str.replace(r'[^A-Za-z0-9\s]','', regex=True)
              .str.replace(r'\s+', ' ', regex=True).str.strip())

In [6]:
# Clean extra spaces

df["text"] = df["text"].str.replace(r'\s+', ' ', regex=True).str.strip()

In [7]:
# Convert Date time
df["date"] = pd.to_datetime(df["date"])
df["date"].dtype

C:\Users\Diandra\AppData\Local\Temp\ipykernel_4648\3768655529.py:2: FutureWarning: Parsed string "Mon Apr 06 22:19:45 PDT 2009" included an un-recognized timezone "PDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  df["date"] = pd.to_datetime(df["date"])

dtype('<M8[ns]')

In [13]:
# Drop row where text = null
df = df.dropna(subset=["text"])
df.head()

,target,id,date,flag,user,text
0,0,1467810369,2009-04-06 22:19:45,NO_QUERY,_TheSpecialOne_,awww thats a bummer you shoulda got david carr...
1,0,1467810672,2009-04-06 22:19:49,NO_QUERY,scotthamilton,is upset that he cant update his facebook by t...
2,0,1467810917,2009-04-06 22:19:53,NO_QUERY,mattycus,i dived many times for the ball managed to sav...
3,0,1467811184,2009-04-06 22:19:57,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,2009-04-06 22:19:57,NO_QUERY,Karoli,no its not behaving at all im mad why am i her...

In [14]:
# Export as new csv
# df.to_csv(r"D:\Python Course\Sentiment Analysis on Twitter Project\data\processed\Cleaned_1.6M-Tweets.csv",
#           index=False, encoding='utf-8')